# Fichiers Maven
target/
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Git
.git/
.gitignore

# Logs
*.log

# Documentation
README.md
docs/

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Tests
src/test/